* {
    box-sizing: border-box;
}


body {

    margin:0;

    background:#806e80;

    padding:20px;

}


h1 {

    text-align:center;

    color:white;

    font-family:"Great Vibes", cursive;

    font-size:70px;

}


.gallery {

    columns:4 250px;

    column-gap:15px;

}


.gallery img,
.card {

    width:100%;

    margin-bottom:15px;

    break-inside:avoid;

    border-radius:15px;

}


.gallery img {

    cursor:pointer;

    transition:.3s;

}


.gallery img:hover {

    transform:scale(1.03);

}



.card {

    background:white;

    padding:25px;

    text-align:center;

    font-family:Georgia, serif;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

}


.card h2 {

    font-family:"Great Vibes";

    font-size:40px;

}



/* povećana slika */

.popup {

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.8);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:10;

}


.popup img {

    max-width:90%;

    max-height:90%;

    border-radius:15px;

}